// Drakula Theme
$background: hsl(231, 15%, 18%);
$foreground: hsl(60, 30%, 96%);

$cyan: hsl(191, 97%, 77%);
$blue: hsl(232, 14%, 31%);
$green: hsl(135, 94%, 65%);
$orange: hsl(31, 100%, 71%);
$pink: hsl(326, 100%, 74%);
$purple: hsl(265, 89%, 78%);
$red: hsl(0, 100%, 67%);
$yellow: hsl(65, 92%, 76%);

// Sizes
$size-sm: 1.2rem;
$size-md: 1.6rem;
$size-lg: 2.4rem;
$size-xl: 3.2rem;

// Well Known Margins
$margin-top: 10rem;

// Breakpoints
$brk-lg: 48rem;
